* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: url("https://cutewallpaper.org/22/simple-background-wallpapers/2893722333.jpg");
}
#title {
  color: white;
  text-shadow: 4px 3px 8px purple;
  font-size: 5rem;
  text-align: center;
}

.activityInputContainer {
  width: 540px;
  height: 345px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  margin: auto;
  border-radius: 20px;
  background-color: #219f94;
  margin-top: 15vh;
}

.activityInputContainer label {
  color: white;
  font-size: 2.3rem;
  margin: 15px;
  font-weight: 500;
  text-shadow: 1px 1px 3px rgb(234, 78, 210);
  margin-bottom: 15px;
}

#errorMessage {
  color: red;
  font-size: 1.8rem;
  margin: 0px;
  margin-bottom: 12px;
  display: none;
}

.activityInputContainer input {
  max-width: 200px;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1.8rem;
  text-align: center;
  font-weight: 700;
}

.activityInputContainer button , #probDayButton {
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin: 26px;
  font-size: 1.5rem;
  background-color: transparent;
  box-shadow: 1px 1px 4px 1px #c1deae;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.activityInputContainer button:hover {
  background-color: rgb(27, 230, 27);
  font-weight: 600;
}

.inputDataTable,
.partialAnswerTable {
  margin: 10vh;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 1px 1px 6px 2px rgb(100 218 243 / 59%);
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
  margin-top: 5vh;
  text-align: center;

}

table {
  width: 80%;
  border: 2px solid white;
  margin: auto;
  color: white;
  margin-bottom: 50px;
}

table caption , #criticalPathTitle , #projectDurationTitle, #projectLengthVarienceTitle , #standardNormalVariable {
  color: white;
  text-shadow: 4px 3px 8px #219f94;
  font-size: 3.6rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
}

table th {
  border: 2px solid #f2f5c8;
  padding: 5px;
  font-size: 1.8rem;
}
table tr td {
  padding: 10px;
  text-align: center;
}

table tr td input {
  width: 80px;
  padding: 8px 5px;
  border-radius: 10px;
  border: 2px solid white;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  background-color: transparent;
  margin: auto;
  margin: 0px 10px;
  color: white;
  outline: none;
}

table tr:nth-child(even) {
  background-color: #219f95d3;
}

.submitInputDataButton , #probDayButton {
  font-size: 1.5rem;
  border: none;
  padding: 12px 34px;
  border-radius: 28px;
  text-align: center;
  margin: 22px 50px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
  background-color: goldenrod;
  color: white;
  text-decoration: none;
}

.submitInputDataButton:hover , #probDayButton:hover {
  background-color: green;
}
.partialAnswerTable p  {
  display: inline-block;
  width: 40px;
  padding: 8px 5px;
  border-radius: 10px;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 600;
  background-color: transparent;
  margin: auto;
  margin: 0px 10px;
  color: white;
  outline: none;
} 

#calculationOfForwardAndBackwardMoment td {
  padding: 8px 5px;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 600;
  background-color: transparent;
  margin: auto;
  margin: 0px 10px;
  color: white;
  outline: none;
}

#criticalPathContainer , #expectedProjcetDurationContainer , #projectLengthVarienceContainer , #projectLengthStandardDeviationContainer , #standardNormalVariableContentContainer {
  width: 100%;
  display: block;
  word-wrap: normal;
  font-size: 3rem;
  font-weight: 800;
  color: white;
  text-shadow: 2px 2px 2px brown;
}

#probDayInputField {
  display: block;
  width: 500px;
   padding: 10px 20px;
   border: none;
   border-radius: 30px;
   outline: none;
   text-align: center;
   font-size: 2rem;
   font-weight: 700;
   margin: auto;
}




